.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0 2rem 0;
    position: absolute;
    left: 0;
    right: 0;
}
.items {
    a {
        margin-left: 20px;
        text-transform: uppercase;
        font-size: 1rem;
        color: #84807e;
    }
}
    .active a {
        color: #edb560;
    }

.logo {
    h2 {
        color: #3d3c3c;
        font-size: 2rem;
        font-weight: 600;
        text-shadow: 2px 2px 2px #ffffff;
    }
}