.box {
    padding: 2.5rem 2rem;
    i {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.8rem;
        margin: 2.5rem 0 2rem 0;
    }
}
.first-box {
    color: white;
    background-color: #ecaf4e;
}
.second-box {
    color: white;
    background-color: #fc683e;
}
.third-box {
    color: white;
    background-color: #000000;
}
.fourth-box {
    color: #393939;
}