/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
  position: absolute;
  left: 0;
  right: 0;
}

.items a {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  color: #84807e;
}

.active a {
  color: #edb560;
}

.logo h2 {
  color: #3d3c3c;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 2px #ffffff;
}

.hero-img {
  grid-column: span 2;
}

.hero-section {
  background-color: #f5e3d7;
}

.hero-details {
  grid-column: span 2;
  padding: 0 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-details .first-para {
  text-transform: uppercase;
  color: #bbb5b0;
}

.hero-details p {
  color: #bbb5b0;
  margin-bottom: 1.5rem;
}

.hero-details h1 {
  color: #6e6965;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.hero-details .highlight {
  color: #505451;
  font-size: 2.6rem;
}

.hero-details a {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #273131;
  color: #273131;
}
/*# sourceMappingURL=main.css.map */